.button {
     background: $blue;
     border: none;
     box-shadow: 0;
     color: white;
     font-size: $font-size-large;
     padding: $s-size;
     font-weight: 300;
     display: inline-block;
     text-decoration: none;
     line-height: 1;
}

.button--link {
     background: none;
}

.button--secondary {
     background: #888;
}